@font-face {
  font-family: "Podkova";
  src: url("../font/Podkovaregular.woff2") format("woff2"), url("../font/Podkovaregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Podkova";
  src: url("../font/Podkovabold.woff2") format("woff2"), url("../font/Podkovabold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  min-width: 320px;
  font-family: "Podkova", "Times", "Times New Roman", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: #304d6d; }

img {
  max-width: 100%;
  height: auto; }

.content-wrapper {
  padding: 0 10px;
  min-width: 300px; }
  @media (min-width: 768px) {
    .content-wrapper {
      padding: 0 15px;
      margin: 0 auto;
      width: 738px; } }
  @media (min-width: 1200px) {
    .content-wrapper {
      width: 1170px; } }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  padding: 20px 0;
  color: #ffffff; }

.page-header__photo {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #ffffff, 0 7px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 5px #ffffff, 0 7px 10px rgba(0, 0, 0, 0.6); }

.page-header__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.page-header__name {
  font-size: 28px;
  font-weight: bold; }

.page-header__profession {
  margin-bottom: 10px; }

.page-header__location::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-image: url("../img/location-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7; }

@media (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-header__photo {
    margin: 0;
    margin-right: 70px; }
  .page-header__name {
    font-size: 42px; }
  .page-header__profession {
    font-size: 24px; } }

.links-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.links-list__item {
  margin-right: 10px; }

.links-list__link {
  color: inherit;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  background-color: #82a0bc;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .links-list__link:hover, .links-list__link:focus {
    -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6); }
  .links-list__link:active {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
    .links-list__link:active .links-list__icon {
      fill: rgba(0, 0, 0, 0.3); }

.links-list__icon {
  margin: auto;
  fill: rgba(0, 0, 0, 0.5); }

.my-skills {
  padding: 10px 15px 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6); }

.my-skills__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700; }

.my-skills__text {
  margin: 0; }

.my-skills__list {
  display: none; }

@media (min-width: 1200px) {
  .my-skills {
    padding: 15px 20px 20px; }
  .my-skills__text {
    margin-bottom: 20px;
    font-size: 22px; } }

.my-works {
  margin-bottom: 20px;
  padding: 10px 15px 15px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6); }

.my-works__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700; }

.my-works__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.my-works__item {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 10px; }

.my-works__link {
  color: inherit;
  text-decoration: none; }

.my-works__image {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 5px; }

.my-works__description {
  padding: 5px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  background-color: #304d6d;
  -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px; }

.my-works__name {
  font-size: 22px;
  font-weight: 700; }

.my-works__text {
  margin: 0;
  margin-top: 10px; }

@media (min-width: 768px) {
  .my-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .my-works__item {
    width: 350px; }
    .my-works__item:not(:nth-child(2n)) {
      margin-right: 8px; }
  .my-works__image {
    height: 450px; } }

@media (min-width: 1200px) {
  .my-works {
    padding: 15px 20px 0; }
  .my-works__item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 360px; }
    .my-works__item:not(:nth-child(2n)) {
      margin-right: 20px; }
    .my-works__item:nth-child(3n) {
      margin-right: 0; }
  .my-works__image {
    height: 500px; }
  .my-works__description {
    padding: 10px; } }
