@font-face {
  font-family: "Podkova";
  src: url("../font/Podkovaregular.woff2") format("woff2"), url("../font/Podkovaregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Podkova";
  src: url("../font/Podkovabold.woff2") format("woff2"), url("../font/Podkovabold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }

body {
  margin: 0;
  padding: 0;
  font-family: "Podkova", "Times", "Times New Roman", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background-color: #304d6d; }

img {
  max-width: 100%;
  height: auto; }
